<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="framework">
            <directory>vendor/php-devil/php-devil-tests/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>vendor/php-devil/php-devil</directory>
        </whitelist>
    </filter>
</phpunit>